ENV=development
PORT=3000

API_SERVER=http://localhost:3000

MONGO_URI=mongodb+srv://<username>:<password>@cluster0.7jcb8.mongodb.net/Quizzes?retryWrites=true&w=majority

GOOGLE_CLIENT_ID=316027740377-35ebs88ek2nto6ke48kv8hqngn3dmobn.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=<THIS_IS_MY_SECRET>